body {
    color:navy;
}

h1 {
    color:maroon;
    font-size:x-large
}

h2 {
    font-size:large;
    color:brown
}

h3 {
    font-size:medium;
    color:darkgreen
}

th, td {
  padding: 2px;
}

td {
  color:blue
}

a:hover {
    background-color:yellow;
    color:green
}